@font-face {
  font-family: 'BubbleGum';
  font-style: normal;
  font-weight: normal;
  src: local('BubbleGum'), url('/public/bubble-gum/BubblegumSans-Regular.ttf') format('truetype');
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'BubbleGum';
}

br {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

body,
#root {
  min-width: 100vh;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}
